.product-grid-section {
  padding: 80px 20px;
  background: var(--seccion_productos_fondo);
}

.product-header {
  margin-bottom: 40px;
  width: 80%;
  margin-inline: auto;
}

.product-header h1 {
  font-size: 2rem;
  color: var(--seccion_productos_texto);
  font-weight: 600;
  display: flex;
  align-items: center; /* Alinea el ícono y el texto */
}

.product-icon {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  font-size: 2rem; /* Tamaño del ícono */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin-inline: auto;
}

.product-card {
  padding: 20px;
  background-color: transparent;
  color: var(--seccion_productos_texto);
  border: 1px solid hsla(210, 100%, 38%, 0.6);
  border-radius: 8px;
  text-align: left;
  transition: 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.product-card h3 {
  font-size: 1rem;
  font-weight: 600;
}

.product-card p {
  color: rgb(182, 190, 201);
  font-size: .9rem;
}

.product-card:hover {
  border: 1px solid hsla(210, 100%, 38%, 0.8);
  background: hsla(210, 100%, 30%, 0.2);
  box-shadow: 0px 2px 8px rgba(20, 172, 223, 0.6);
}

.product-card .icon {
  font-size: 40px;
  margin-bottom: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid;
  border-color: hsla(210, 100%, 60%, 0.25);
  background-color: hsla(210, 100%, 23%, 0.2);
  box-shadow: 0 0 0 2px hsla(210, 100%, 42%, 0.1), 0px 2px 12px 0px rgba(0, 0, 0, 0.25) inset;
}

.product-card .icon svg {
  font-size: 1.125rem;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  fill: hsl(210, 100%, 60%);
  color: hsl(210, 100%, 60%);
}

@media (max-width: 768px) {
  .product-header {
    margin-inline: 0px;
    width: 100%;
  }

  .product-header h1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start; /* Alinea ambos elementos a la izquierda */
  }

  .product-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-inline: auto;
  }

  .product-card {
    width: 100%; /* Los cards ocuparán todo el ancho disponible */
  }

  .product-grid-section .centered-content h2 {
    font-size: 1.75rem;
    display: flex;
    flex-direction: column; /* Cambia la dirección del contenido a columna */
    text-align: left; /* Alinea todo el contenido a la izquierda */
    align-items: flex-start; /* Asegura que el ícono y el texto estén alineados a la izquierda */
    margin-bottom: 3rem !important;
  }

  .product-icon {
    margin-right: 0; /* Elimina el espacio lateral */
    margin-bottom: 5px; /* Añade un pequeño espacio debajo del ícono */
    font-size: 2rem; /* Tamaño del ícono en dispositivos móviles */
  }
}
