.carrito-page-container {
  padding: 20px;
}

.titulo-carrito {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.productos-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.producto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 150px; /* Altura fija para los productos */
}

.producto-imagen {
  flex: 0 0 100px; /* Ancho fijo para las imágenes */
  height: 100%; /* Altura completa del contenedor */
  overflow: hidden;
  border-radius: 5px;
}

.producto-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen se adapta al contenedor con cover */
  border-radius: 5px;
}

.producto-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.producto-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.producto-tags {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.video-tag {
  background-color: #ff0000; /* Estilo de YouTube */
  color: white;
  font-weight: bold;
  border: none;
}
