  .contacto-section {
    background-color: #f4f4f4;
    padding: 40px 20px;
  }
  
  .contacto-section .centered-content {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left; /* Alineación de texto a la izquierda */
  }
  
  .contacto-section .centered-content iframe {
    border: 1px solid transparent;
    box-shadow: none;
  }

  .contacto-section .contacto-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
    border-left: 4px solid #0078D7; /* Barra decorativa */
    padding-left: 10px;
  }
  
  .contacto-section .contacto-section p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #666;
  }
  
  iframe {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .centered-content {
      padding: 15px;
    }
  
    .contacto-title {
      font-size: 1.5rem;
    }
  
    .contacto-section p {
      font-size: 0.9rem;
    }
  }
  