:root {
    /* Paletas alternativas */

    /* MP111 */
    --mp111_Lotion: #FEFDFA; /* claro */
    --mp111_Bookworm: #EBE3DE; /* menos claro */
    --mp111_KokushokuBlack: #171412; /* oscuro */
    --mp111_CoralBay: #DDB8A3; /* especial */
    --mp111_MistedYellow: #DAB965; /* warning */
    --mp111_MicrowaveBlue: #2D5254; /* menos oscuro */

    /* MP25 */
    --mp25_ArticPowder: #F1F6F4; /* claro */
    --mp25_MysticMint: #D9E8E3; /* menos claro */
    --mp25_OceanicNoir: #172B36; /* oscuro */
    --mp25_NocturnalExpedition: #114C5A; /* menos oscuro */
    --mp25_Forsythia: #FFC801; /* warning */
    --mp25_DeepSaffron: #FF9932; /* especial */

    /* MP072 */
    --mp072_Palladian: #EEE9DF; /* claro */
    --mp072_BurningFlame: #FFB162; /* especial */
    --mp072_Oatmeal: #C9C1B1; /* menos claro */
    --mp072_TruffleTrouble: #A35139; /* warning */
    --mp072_BlueFantastic: #2C3B4D; /* menos oscuro */
    --mp072_AnchorfishBlue: #1B2632; /* color oscuro */

    /* Aplicacion de paleta MP111 */
    --texto1: var(--mp111_KokushokuBlack);
    --texto2: var(--mp111_MicrowaveBlue);
  

    /* Aplicacion en HEADER */
    --seccion_header_fondo: var(--mp111_Lotion);
    --seccion_header_titulo_1: var(--mp111_KokushokuBlack);
    --seccion_header_titulo_2: var(--mp111_MicrowaveBlue);
    --seccion_header_titulo_subtitulo: var(--mp111_Bookworm);
    --seccion_header_topmenu_text: var(--mp111_MicrowaveBlue);
    --seccion_header_topmenu_hover: var(--mp111_CoralBay);
    /* Aplicacion en INFO */
    --seccion_info_fondo: var(--mp111_MicrowaveBlue);
    --seccion_info_titulo_1: var(--mp111_Lotion);
    --seccion_info_titulo_2: var(--mp111_MistedYellow);
    --seccion_info_subtitulo: var(--mp111_Bookworm);
    /* Aplicacion en DESTACADOS */
    --seccion_destacados_fondo: var(--mp111_Lotion);
    --seccion_destacados_titulo: var(--mp111_KokushokuBlack);
    --seccion_destacados_subtitulo: var(--mp111_MicrowaveBlue);
    /* Aplicacion a CATEGORIAS */
    --seccion_categorias_fondo: #24313d;
    --seccion_categorias_titulo: var(--mp111_Lotion);
    --seccion_categorias_subtitulo: var(--mp111_Bookworm);
    /* Aplicacion a DISEÑO */
    --seccion_diseno_fondo: var(--mp111_Lotion);
    --seccion_diseno_titulo: var(--mp111_KokushokuBlack);
    --seccion_diseno_subtitulo: var(--mp111_MicrowaveBlue);
    --seccion_diseno_textolista: var(--mp111_MicrowaveBlue);
    /* Aplicacion a REFERENCIAS */
    --seccion_referencias_fondo: var(--mp111_CoralBay);
    --seccion_referencias_icon: var(--mp111_KokushokuBlack);
    --seccion_referencias_titulo: var(--mp111_MicrowaveBlue);
    --seccion_referencias_subtitulo: var(--mp111_Bookworm);
    --seccion_referencias_bordecards: var(--mp111_Bookworm);
    --seccion_referencias_textocards: var(--mp111_MicrowaveBlue);
    --seccion_referencias_cardnombre: var(--mp111_MistedYellow);
    --seccion_referencias_cardjob: var(--mp111_MicrowaveBlue);
    /* Aplicacion a FAQ */
    --seccion_faq_fondo: var(--mp111_Lotion);
    --seccion_faq_titulo: var(--mp111_MicrowaveBlue);
    --seccion_faq_subtitulo: var(--mp111_MicrowaveBlue);
    --seccion_faq_bordeacordeon: var(--mp111_Bookworm);
    --seccion_faq_pregunta: var(--mp111_KokushokuBlack);
    --seccion_faq_preguntaicon: var(--mp111_KokushokuBlack);
    --seccion_faq_respuesta: var(--mp111_MicrowaveBlue);


    /* Variables para colores de fondo */
    --fondo-seccion1: #172b36;
    --fondo-seccion2: #114c5a;
    --fondo-seccion3: #ff9932;


  }
  