.producto-container .producto-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 .p-tira-imagenes {
    width: 10%;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 .p-imagen {
    width: 30%;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 .p-imagen .producto-imagen {
    width: 100%;
    border-radius: 8px;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 .p-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info2 {
    margin-top: 20px;
    width: 100%;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info2 .video iframe {
    border-radius: 8px;
    border: 1px solid red;
  }
  