.producto-container .producto-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin-inline: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-height: 500px;
    max-height: 500px;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 .p-tira-imagenes {
    min-width: 100px;
    max-width: 100px;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 .p-galeria-imagen {
    display: flex;
    flex-direction: row;
    min-width: 600px;
    max-width: 600px;
    padding: 0px;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 .p-galeria-imagen .p-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .producto-container .producto-card .p-info1 .p-galeria-imagen .producto-imagen {
    width: 100%;
    border-radius: 8px;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info1 .p-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info2 {
    margin-top: 20px;
    width: 100%;
    border: 1px solid red;
  }
  
  .producto-container .producto-card .p-info2 .video iframe {
    border-radius: 8px;
    border: 1px solid red;
  }
  
  .p-imagen .producto-imagen {
    display: block;
  }

  .p-carrousel {
    display: none;
    border: 1px solid red;
  }

  .p-carrousel .p-carousel-item img {
    max-height: 400px; /* Ajusta el tamaño de las imágenes en el carrusel */
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
  
    .producto-container .producto-card {
    width: 100%;
  }

  .producto-container .producto-card .p-info1 {
    flex-direction: column;
    min-width: none !important; 
    max-width: none !important;
    width: 100% !important;
  }

  .producto-container .producto-card .p-info1 .p-tira-imagenes {
    display: none;
  }

  .producto-container .producto-card .p-info1 .p-galeria-imagen {
    min-width: 200px !important; 
    max-width: none !important;
    width: 100% !important;
  }
  
  .producto-container .producto-card .p-info1 .p-galeria-imagen .p-imagen {
    height: auto;
  }

  .p-imagen .producto-imagen {
    display: none;
  }

  .p-galeria-imagen {
    margin-inline: auto;
  }

  .p-carrousel {
    display: block;
  }

}
