/* app.css */
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 300;
}


body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background: rgb(245, 245, 245);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ****** Estilos estandarizados ****** */
.seccion {
  border: 1px solid red;
}

.centered-content {
  width: 80%;
  max-width: 1200px;
  overflow: hidden; /* Evita el desbordamiento */
  padding: 80px 30px;
  margin-inline: auto;
}

.contenido {
  width: 100%;
  margin-inline: auto;
}

/* ****** Header centrado ****** */
.seccion-encabezado {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 4rem auto;
}

.header-centrado {
  font-size: 2.1rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.header-centrado svg {
  font-size: 50px;
  user-select: none;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  flex-shrink: 0;
}

.header-centrado h2 {
  font-size: 2.1rem;
  line-height: 1.2;
  font-weight: 600;
  color: var(--seccion_info_titulo_1);
  text-align: center;
}

.header-centrado p {
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

/* ****** Header simple ****** */
.seccion-encabezado-izq {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 2rem auto;
}

.header-izq {
  display: flex;
  flex-direction: column;
  font-size: 2.1rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: left;
  gap: 20px;
}

.header-izq svg {
  margin-right: 10px;
  font-size: 2rem;
}

.header-izq h2 {
  font-size: 2rem;
  color: var(--texto2);
  font-weight: 600;
  display: flex;
  width: 100%;
  text-align: left;
  margin-inline: auto;
  align-items: center; /* Alinea el ícono y el texto */
}

.header-izq p {}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .centered-content {
    width: 100% !important;
    max-width: 100% !important;
    margin-inline: 0px !important;
    padding-inline: 20px;
  }

  .contenido {
    width: 100%;
  }

  .seccion-encabezado .header-centrado svg {
    font-size: 40px !important;
    margin-bottom: 6px !important;
  }

  .seccion-encabezado .header-centrado h2 {
    font-size: 32px !important;
    margin-bottom: 0px !important;
  }

  .seccion-encabezado .header-centrado p {
    font-size: 16px !important;
    margin-top: 16px !important;
  }
}