/* InfoSection.css */

.info-section {
  background: var(--seccion_info_fondo);
  /* background-image: linear-gradient(to bottom, #dcdde033 0%, hsla(0, 0%, 100%, 0) 200px); */
}

.info-section .header-centrado h2 {
  color: var(--seccion_info_titulo_1);
}

.info-section .header-centrado span {
  display: block;
}

.info-section .header-centrado .destacado {
  color: var(--seccion_info_titulo_2);
}

.info-section .centered-content p {
  color: var(--seccion_info_subtitulo);
}

.centered-content .icon-title {
  font-size: 50px;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .info-section {
    padding-top: 4rem;
  }

  .centered-content .icon-title svg {
    font-size: 40px;
  }

  .titulo {
    font-size: 2rem;
    font-weight: 900;
  }

  .info-section .centered-content p {
    font-size: 1.1rem;
  }
}
